/******** Layout ***********/

body {
      background-color: #5CD2E6;
      font-family: 'Racing Sans One', cursive;
  }
  
  h1 , h2, h3, h4, h5, h6 {
    color: #125D98;
    text-align: center;
    font-size: 24px;
    font-family: 'Racing Sans One', cursive;
  }
  
  p {
    font-size: 18px;
    font-family: 'Racing Sans One', cursive;
  }

  li {
    font-size: 20px;
    font-family: 'Racing Sans One', cursive;
  }

  a {
    font-size: 20px;
    font-family: 'Racing Sans One', cursive;
  }
  
  img {
    font-size: 20px;
    font-family: 'Racing Sans One', cursive;
  }